pyaudio
requests
SpeechRecognition 
torch
numpy
sounddevice
scipy
soundcard
watchdog
openai
pydantic
python-dotenv
pinecone-client
cuid2
pandas
pypdf
pdfminer.six

git+https://github.com/openai/whisper.git 
